@page
@model ContactFormWebsite.Pages.AboutModel
@{
    ViewData["Title"] = "About Me";
}

<div class="container">
    <h1>About Me</h1>
    <hr />
    
    <div class="row">
        <div class="col-md-8">
            <h3>Hello! I'm Olabisi Afolabi</h3>
            <p>I'm a passionate web developer with expertise in ASP.NET Core, C#, and modern web technologies.</p>
            <p>I created this website to demonstrate the MVC pattern using Razor Pages.</p>
            <p>When I'm not coding, I enjoy:</p>
            <ul>
                <li>Reading tech blogs</li>
                <li>Contributing to open source</li>
                <li>Learning new programming languages</li>
                <li>Playing chess</li>
            </ul>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Quick Info</h5>
                    <p><strong>Location:</strong> Manitoba, Canada</p>
                    <p><strong>Education:</strong> 1+ year</p>
                    <p><strong>Skills:</strong> C#, .NET, Razor Pages, MVC, SQL</p>
                </div>
            </div>
        </div>
    </div>
</div>
